<body [style.background-color]="color">
<p>caculator works!</p>

<label>no1</label>
<input id="st1" type="text">
<label>no2</label>
<input id="st2" type="text">
<button (click)="cong()">+</button>
<button (click)="tru()">-</button>
<button (click)="nhan()">x</button>
<button (click)="chia()">\</button>
<h1>Color Picker</h1>

<button (click)="yellow()" style="background: yellow;width: 70px;height: 30px"></button>
<button (click)="red()" style="background: red;width: 70px;height: 30px"></button>
<button (click)="blue()" style="background: blue;width: 70px;height: 30px"></button>
</body>

